@import "vars.scss";

.character--headline {
  position: absolute;
  bottom: 2%;
  left:-2%;
  width: 104%;
  background: $detroit-orange-fade;
  border: 1px solid $detroit-blue;
  h2 {
    font-size: 18px;
    text-align: right;
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-style: italic;
  }
}

.character--facts {
  position: absolute;
  top: 0;
  left: 0;
  z-index:5;
  width: 100%;
  padding-bottom: 120%;
  h2 {
    font-size: 18px;
    color: $detroit-blue;
  }
  p {
    font-size: 12px;
  }

}

.character--footer {
  position: absolute;
  z-index: 5;
  bottom: 4%;
  left: 2%;
  width: 100%;
  span {
    display: block;
    font-size: 8px;
  }  
}

.character--watermark {
  background: #fff;
  z-index: 1;
  width: 96%;
  padding-bottom: 143%;
  margin: 2%;
  border-radius: 5px 5px 5px;
  img {
    transform: rotateY(180deg);
    opacity: .2;
    z-index: 2;
    filter: grayscale(40%);
  }
}