// bower:scss
@import "sass-pure/pure.scss";
// endbower

@import "vars.scss";
@import "flip.scss";
@import "character.scss";

img {
  width: 100%;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: $white;
}

.container {
  margin: 5px;
}

.white-bg {
  background-color: #fff;
}

.click-container {
  text-decoration: none;
  color: inherit;
  display: block;
  &:hover {
    .container.borders{
      border: 2px solid $detroit-orange;
    }
  }
}

.borders {
  border: 1px solid #000;
}

.corners {
  border-radius: 15px 15px 15px;
}

a {
  color: $detroit-blue;
}
a:hover {
  color: $detroit-orange;
}

h1,h2,h3,h4 {
  padding: 0 10px;
  color: $detroit-blue;
}

p {
  padding: 0 10px;
  color: $detroit-blue;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.main-page {
  a {
    display: block;
    text-decoration: none;
  }
  h1 {
    padding: 10px;
    text-align: center;
  }
  .characters {
    margin: 10px;
  }
}

.characters-mural, .comics-mural {
  border-radius: 90px 10px 90px;
}
.characters-mural {
  padding-bottom: 60%;
  background-image: url('../images/marvel-universe.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.comics-mural {
  padding-bottom: 60%;
  background-image: url('../images/marvel-comics.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Main marketing message and sign up button */
.character-pager {
  position: fixed;
  right: 10%;
  top: 10%;
  font-size: 35px;
  background-color: $detroit-orange-fade;
  a {
    font-size: 32px;
    padding: 10px;
    &:hover {
      color: #fff;
    }
  }
}