<div class="jumbotron">
  <div ng-repeat="key in main.awesomeThings">
    <h1>{{key}}</h1>
  </div>
</div>
<div ng-repeat="character in characterList">
  <h2>{{ character.name }}</h2>
  <p>
    {{ character.description }}
  </p>
  <img ng-src="{{character.thumbnail.path}}/landscape_incredible.{{character.thumbnail.extension}}">
  <h3>Last Modified: {{ character.modified }}</h3>
</div>
<div class="character-pager">
  <a href="#{{prevSet}}" ng-if="prevSet >= 0">prev</a>
  <a href="#{{nextSet}}">next</a>
</div>
