<h1>Marvel Characters - </h1>
<h2>click a character or click through with prev / next</h2>
<div class="pure-g">
  <div ng-repeat="character in characterList" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
    <a ng-href="#/character/{{character.id}}" class="click-container">
      <div class="container borders corners white-bg">
        <h2>{{ character.name }}</h2>
        <p>
          {{ character.description }}
        </p>
        <img ng-src="{{character.thumbnail.path}}/landscape_incredible.{{character.thumbnail.extension}}">
        <h3>Last Modified: {{ character.modified }}</h3>
      </div>
    </a>
  </div>
</div>

<div class="character-pager">
  <a href="#{{prevSet}}" ng-if="prevSet >= 0">prev</a>
  <a href="#{{nextSet}}">next</a>
</div>
